torch>=2.6.0,<3.0.0
librosa==0.10.2.post1
pandas~=2.2.3
soundfile>=0.12.1

numpy~=2.1.3
scikit-learn~=1.6.1
transformers~=4.48.3
matplotlib
torch>=2.6.0,<3.0.0
librosa==0.10.2.post1
pandas~=2.2.3
soundfile>=0.12.1

numpy~=2.1.3
scikit-learn~=1.6.1
transformers~=4.48.3
yaml
tqdm
kaggle
openpyxlgdown
transformers
python_speech_features
keras
tensorflow
